.block3Container{
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    gap: 30px;
}
.cardDrama {
    width: 200px;
    height: 380px;
    border-radius: 20px;
    position: relative;
    margin-top: 30px;
    padding: 1.8rem;
    /* border: 2px solid #c3c6ce; */
    transition: 0.5s ease-out;
    overflow: visible;
    p{
        font-family: cursive;
        font-size: 14px;
        margin-top: 0;
    }
    h2{
        font-size: 24px;
        font-family: cursive;
        margin-bottom: 0;

    }
    img{
        width: 250px;
        border-radius: 10px;
        height: 300px;

    }
   }
      .cardDrama-details {
    color: rgb(253, 253, 253);
    height: 100%;
    gap: .5em;
    display: grid;
    text-align: center;
    place-content: center;
   }   
   .cardDrama-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 20px;
    border: none;
    background-color: #f83a00;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
 
   
   .cardDrama:hover {
    border-color: #f83a00;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .cardDrama:hover .cardDrama-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }
   .watch {
    text-decoration: none;
    color: white;
   }