.block2 {
  height: 206px;
  margin-top: 50px;
}

.block2-content {
  color: white;
  font-family: cursive;
  justify-self: center;
  position: relative;
  right: 30px;
  
}

.block-content h1 {
  font-size: 24px;
  font-weight: 600;
}

.block2-content p {
  font-size: 16px;
  font-weight: 400;
  color: #979797;
  width: 385px;
  margin-top: 15px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 1089px;
  background-color: #1A1A1A;
  border-radius: 10px;
  height: 50px;
  margin-top: 60px;
}

.search-input {
  flex: 1;
  height: 40px;
  background: none;
  border: none;
  color: #979797;
  font-size: 14px;
  padding: 20px;
  outline: none;
}

.search-icon {
  width: 20px;
  margin-right: 20px;
}
