.swiper-container{
  width: 1440px;
  margin: 0 auto;
}
.nurhan{
  margin-left: 70px;
}
.swiper-slide-bg {
    background-size: cover;
    background-position: center;
    height: 750px;
    display: flex;
    align-items: center;
  }
  
  
  .text-container {
    width: 600px;
    color: white;
    margin-left: 70px;
  }
  
  .text-container h1 {
    font-size: 2rem;
    width: 540px;
    font-weight: bold;
    font-family: cursive;
  }
  
  .text-container p {
    font-size: 14px;
    font-weight: 100;
    width: 500px;
    margin: 1.25rem 0;
    font-family: cursive;
  }
  
  .text-container button {
    border: none;
    width: 151px;
    height: 50px;
    border-radius: 36px;
    background-color: #EF4234;
    cursor: pointer;
    margin-left: 70px;

  }
  
  .text-container button:hover {
    background-color: #f52d05;
  }
  .look{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    
  }
  .see h3{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
  
  }
  
  