.block4 {
  width: 1440px;
  margin: 0 auto;

}

.tabs {
  margin-top: 100px;
  background: #1A1A1A;
  padding: 10px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  font-family: cursive;
  font-size: 16px;
  margin-bottom: 50px;
}

.tab-item {
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.tab-item.active {
  border-bottom: 2px solid #EF4234;
}

.carousel-container {
   
  overflow: hidden;
  width: 100%;
  margin: 20px 0;
}
.carousel-btn-left{
position: relative;
background-color: #EF4234;
border: none;
width: 35px;
height: 35px;
border-radius: 50px;
top: 240px;
color: white;
font-size: 18px;
padding-top: 5px;
z-index: 10;


}



.carousel-track {
  display: flex;
}

.carousel-slide {
  flex: 0 0 calc(100% / 4);
  padding: 10px;
}

.movie-card {
  margin-top: 50px;
  width: 225px;
  height: 472px;
  position: relative;
  border-radius: 10px;
  /* text-align: center; */
  color: white;
}
.rating {
  position: absolute;
  left: 19px;
  background: #EF4234;
  color: white;
  width: 35px;
  height: 35px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  cursor: pointer;
  padding-top: 6px;
  padding-left: 8px;
  font-size: 18px;
  z-index: 10;
  
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}
.block4 {
  width: 1440px;
  overflow: hidden;
  position: relative;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  gap: 75px;
  justify-content: center;
}

.tab-item {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.tab-item.active {
  border-bottom: 2px solid #e50914;
}



.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  flex: 0 0 calc(100% / 4); 
  box-sizing: border-box;
  padding: 0 10px;
}

.movie-card {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  font-weight: 600;
  font-family: cursive;
  color: #fff;
  margin-left: 50px;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.movie-card h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}

.movie-card p {
  font-size: 16px;
  font-weight: 500;
  color: white;
}


.carousel-btn.left {
  left: 10px;
  width: 35px;
  height: 35px; 
  border-radius: 50%;
  background-color: #e50914;
  margin-top: 100px;
}

.carousel-btn.right {
  margin-top: 200px;
background-color: #EF4234;
border: none;
width: 35px;
height: 35px;
border-radius: 50px;
top: 240px;
color: white;
font-size: 18px;
z-index: 10;


}

