.Footer-Container{
    width: 1495px;
    height: 288px;
    background-color: #1A1A1A;
    margin: auto;
    margin-top: 50px;
}
.block-footer{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    font-family: cursive;
    padding-top: 25px;

    
}
.ji{
font-size: 20px;
font-weight: 500;
line-height: 21.94px;
text-align: left;
color: white;
font-size: 20px;

}

.Footer-Container p{
    color: #FFFFFF;   
    font-size: 16px;
    color: white; 
    font-weight: 400;
    transition: color 0.3s ease,  ease; 
    font-family: cursive;

}
.Footer-Container p:hover{
    color: #EF4234;
}
.button-Footer{
    width: 142px;
    height: 33px;
    border-radius: 36px;
    background-color: #EF4234;
    color: white;
}
